<!DOCTYPE html>
  <head>
  </head>
  <body>
    <p>Hello world from hello!</p>

  </body>
</html>
<%= 1 + 1 %>
<% target = "world" %>
<%= "Hello #{target}" %>

<br />

<% @array.each do |n| %>
  <%= n %> <br />
<% end %>
